{# src/Proj/ArticleBundle/Resources/views/Article/add.html.twig #}

{% extends "ProjArticleBundle::layout.html.twig" %}

{% block body %}

  <h2>Ajouter un article</h2>

  {{ include("ProjArticleBundle:Article:form.html.twig") }}

  <p>
    texte d'explication
  </p>

{% endblock %}