{# src/Proj/ArticleBundle/Resources/views/Article/edit.html.twig #}

{% extends "ProjArticleBundle::layout.html.twig" %}

{% block title %}
  Modifier un article - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Modification de l'article {{ article.id }}</h2>

  {{ include("ProjArticleBundle:Article:form.html.twig") }}
	
	<p>
    <a href="{{ path('proj_article_view', {'id': article.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour &agrave; l'article
    </a>
  </p>

{% endblock %}