{# src/Proj/ArticleBundle/Resources/views/Article/index.html.twig #}

{% extends "ProjArticleBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
	<h1>Les articles</h1>
	Contenu de la page d'accueil
{% endblock %}