{# src/Proj/ArticleBundle/Resources/views/Article/index.html.twig #}

<!DOCTYPE html>
<html>
  <head>
        <title>Bienvenue sur mon site !</title>
  </head>
  <body>
    <h1>Les articles</h1>

   
  </body>
</html>