{# src/Proj/ArticleBundle/Resources/views/Article/view.html.twig #}

{% extends "ProjArticleBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Article {{ article_id }}{% endblock %}

{% block body %}
  <h1>Article {{ article_id }}</h1>
	<p>
      {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
      {% endfor %}
    </p>
{% endblock %}